import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static policy = "${GP_HOME}/java.policy";
    private static host = ConfigUtil.getHostName();
    private static port = "8081";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";

//Mahalo
        private static mahaloCodebase=ConfigUtil.concat(new Object[] {
            "http://", ConfigUtil.getHostName(), ":8081/mahalo-dl.jar",
            " http://", ConfigUtil.getHostName(), ":8081/jsk-dl.jar"});
        private static mahaloClasspath="${GP_HOME}/build/mahalo.jar";
        private static mahaloPolicy="${GP_HOME}/blitz/policy/policy.all";
        private static mahaloConfig="${GP_HOME}/config/mahalo.config";


    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policy,
            "${GP_HOME}/gp/lib/jini/classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                "${GP_HOME}/build", 
                "-verbose"}),

	//mahalo
            new NonActivatableServiceDescriptor(
                    mahaloCodebase, mahaloPolicy, mahaloClasspath,
                    "com.sun.jini.mahalo.TransientMahaloImpl",
                    new String[] { mahaloConfig }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policy,
            "${GP_HOME}/gp/lib/jini/reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { "${GP_HOME}/config/reggie.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/outrigger-dl.jar" + jskdl,
            policy,
            "${GP_HOME}/gp/lib/jini/outrigger.jar",
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[] { "${GP_HOME}/config/outrigger.config" })
    };
}
