import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static policy = "${GP_HOME}/java.policy";
    private static host = ConfigUtil.getHostName();
    private static port = "8081";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";

    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policy,
            "${GP_HOME}/gp/lib/jini/classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                "${GP_HOME}/build", 
                "-verbose"}),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policy,
            "${GP_HOME}/gp/lib/jini/reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { "${GP_HOME}/config/reggie.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/outrigger-dl.jar" + jskdl,
            policy,
            "${GP_HOME}/gp/lib/jini/outrigger.jar",
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[] { "${GP_HOME}/config/outrigger.config" })
    };
}
