import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static policy = "/home/rbowers/.java.policy";
    private static host = ConfigUtil.getHostName();
    private static port = "8081";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";

    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policy,
            "/home/rbowers/applications/jini/lib/classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                "/home/rbowers/applications/jini/lib-dl", 
                "-verbose"}),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policy,
            "/home/rbowers/applications/jini/lib/reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { "/home/rbowers/Desktop/EC/ec-robocode/ec-robocode/config/reggie.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/outrigger-dl.jar" + jskdl,
            policy,
            "/home/rbowers/applications/jini/lib/outrigger.jar",
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[] { "/home/rbowers/Desktop/EC/ec-robocode/ec-robocode/config/outrigger.config" })
    };
}
